* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

table {
  display: flex;
  width: 100%;
  height: 12vh;
  font-size: 1.2em;
  align-items: center;
}
tbody {
  display: flex;
  width: 100%;
  justify-content: center;
}

#headerTr {
  display: flex;
  width: 98%;
  justify-content: space-between;
  justify-content: center;
}
tr > th {
  padding: 3vh 0 3vh 0;
}
#th_header1 {
  width: 30%;
  background: rgb(61, 110, 16);
  color: yellowgreen;
}

#th_header2,
#th_header3,
#th_header4 {
  background: rgba(200, 224, 93, 0.5);
  width: 20%;
}
.aTh:visited {
  color: rgb(122, 201, 37);
}
#th_header2:hover,
#th_header3:hover,
#th_header4:hover {
  background: black;
  color: rgb(49, 60, 32); /* Set the desired text color */
}

#th_header5 {
  width: 10%;
  background: rgb(97, 128, 80);
  color: rgb(28, 87, 13);
}
#th_header6 {
  width: 10%;
  background: rgb(56, 68, 3);
  color: rgb(202, 235, 145);
  font-size: 1.8em;
}

.title {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  align-items: center;
}

.tshop {
  font-size: 6vw;
}
#nerqevidiv {
  display: none;
  width: 23vw;
  height: 3vw;
  overflow: hidden;
}
.text {
  display: flex;
  font-size: 1.7vw;
  justify-content: center;
}
#ThereIsOneforEveryone {
  width: 23vw;
  height: 2vw;
  text-align: center;
  justify-content: center;
  background: rgb(192, 225, 91);
  animation-duration: 7s;
  animation-name: animation;
  transition: transform;
  animation: slide-in 2s linear;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animation {
  0% {
    width: 1vw;
    height: 2vw;
    position: relative;
  }
  100% {
    width: 23vw;
    height: 2vw;
    position: relative;
  }
}

.ShopNewShopWomenShopMen {
  display: flex;
  width: 100%;
  height: 65vh;
  justify-content: space-between;
}

#shopwomen {
  width: 24%;
  background: url("https://static.wixstatic.com/media/c837a6_412c6d4e5a8f49f1bd70c5a9f60bd99d~mv2.jpg/v1/fill/w_312,h_449,q_90/c837a6_412c6d4e5a8f49f1bd70c5a9f60bd99d~mv2.webp");
}
#shopwomen:hover {
  background: linear-gradient(rgba(92, 170, 92, 0.1), rgb(188, 218, 38)),
    url("https://static.wixstatic.com/media/c837a6_412c6d4e5a8f49f1bd70c5a9f60bd99d~mv2.jpg/v1/fill/w_312,h_449,q_90/c837a6_412c6d4e5a8f49f1bd70c5a9f60bd99d~mv2.webp");
}
#hiddentitle {
  text-align: center;
  padding: 60vh 0 0 0;
}
#shopwomen:hover #hiddentitle {
  display: block;
}

#shopmen {
  width: 24%;
  background: url("https://static.wixstatic.com/media/c837a6_3a03706bd90e4f289e7aed0d2f11c992~mv2.jpg/v1/fill/w_312,h_449,q_90/c837a6_3a03706bd90e4f289e7aed0d2f11c992~mv2.webp");
}
#shopmen:hover {
  width: 24%;
  background: linear-gradient(rgba(92, 170, 92, 0.1), rgb(188, 218, 38)),
    url("https://static.wixstatic.com/media/c837a6_3a03706bd90e4f289e7aed0d2f11c992~mv2.jpg/v1/fill/w_312,h_449,q_90/c837a6_3a03706bd90e4f289e7aed0d2f11c992~mv2.webp");
}
#hiddentitlemen {
  display: none;
  text-align: center;
  padding: 60vh 0 0 0;
}
#shopmen:hover #hiddentitlemen {
  display: block;
}
#shopnew {
  width: 49%;
  background: url("https://static.wixstatic.com/media/c837a6_3e8310c6d6474d42a3e2925a1f4ed3a3~mv2.jpg/v1/fill/w_635,h_449,fp_0.5_0.43,q_90/c837a6_3e8310c6d6474d42a3e2925a1f4ed3a3~mv2.webp");
}
#hiddentitlenew {
  display: none;
  text-align: center;
  padding: 60vh 0 0 0;
}
#shopnew:hover #hiddentitlenew {
  display: block;
}

#shopnew:hover {
  width: 49%;
  background: linear-gradient(rgba(92, 170, 92, 0.1), rgb(188, 218, 38)),
    url("https://static.wixstatic.com/media/c837a6_3e8310c6d6474d42a3e2925a1f4ed3a3~mv2.jpg/v1/fill/w_635,h_449,fp_0.5_0.43,q_90/c837a6_3e8310c6d6474d42a3e2925a1f4ed3a3~mv2.webp");
}
#hiddentitle {
  display: none;
}

.NewDrops {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
}

.btnshopnew {
  width: 100%;
  height: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btnshopnew {
  background: black;
  font-size: 1.5em;
  color: rgb(189, 233, 69);
  width: 15vw;
  height: 7vh;
}
#btnshopnew:hover {
  background: rgb(208, 234, 9);
  font-size: 1.5em;
  color: rgb(0, 1, 0);
  width: 15vw;
  height: 7vh;
  cursor: pointer;
}

.sale {
  display: flex;
  width: 100%;
  height: 92vh;
}
#sale {
  display: flex;
  width: 60%;
  height: 92vh;
  background: linear-gradient(rgba(167, 210, 57, 0.1), rgb(188, 218, 38));
}
.girl {
  display: flex;
  width: 40%;
  height: auto;
  background: url("https://static.wixstatic.com/media/c837a6_2749f733af59407699862291aaef4b44~mv2.jpg/v1/fill/w_512,h_725,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_2749f733af59407699862291aaef4b44~mv2.jpg");
}

#sale {
  display: flex;
  justify-content: center;
  align-items: center;
}
#textaboutsale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80%;
}
#kaytsak {
  font-size: 4em;
}
#saleinon {
  font-size: 2em;
}
#off {
  font-size: 7em;
}
#littleoff {
  font-size: 1em;
}

#getoff {
  display: flex;
  width: 100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
#slaqdzakh {
  font-size: 10em;
  animation: slide 2s linear;
}
@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#getoff10 {
  font-size: 2.5em;
}
#slaqaj {
  font-size: 10em;
  animation: slide-right 2s linear;
}
@keyframes slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#footer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  border: 1px solid black;
}

#topshop {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 45vh;
  justify-content: center;
  align-items: center;
  background: black;
  justify-content: space-around;
  color: white;
}
.shopourstore {
  display: flex;
  width: 50%;
}

#shop {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 45vh;
  justify-content: center;
  align-items: end;
}
#ourstore {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 45vh;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
}
#TermsConditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 45vh;
  justify-content: space-around;
}

#first {
  margin-bottom: 1em;
  width: 104%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
}
#firstshop {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: white;
}

#termik,
#ourstorik,
#shopik,
#topshopik {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 25vh;
  justify-content: space-around;
}

#footer2 {
  display: flex;
  width: 100%;
  height: auto;
  border: 0.1px black solid;
}
#footer2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 0.2px solid black;
  height: 12vh;
}
#footer2-1-1 {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 12vh;
  justify-content: space-around;
}
#footer2-2 {
  display: flex;
  width: 70%;
  height: 12vh;
  background: yellow;
  justify-content: center;
  align-items: center;
}
#products {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  /* background: rgb(235, 236, 231); */
}
#img1 {
  width: 18vw;
  height: 42vh;
  background-size: cover;
}
.productclass {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 60vh;
  /* background: rgb(236, 230, 230); */
  margin: 1vh 2vw 1vh 2vh;
  justify-content: center;
}
#boxfortitlesndprice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10vw;
  height: 10vh;
  margin-top: 2vh;
}

.basket {
  cursor: pointer;
  width: 5vw;
  height: auto;
}
.login {
  width: 50%;
  height: auto;
}
#transparent {
  display: flex;
  width: 100%;
  height: 800vh;
  position: fixed;
  top: 0;
  background: rgb(45, 44, 44, 0.4);
  visibility: hidden;
  z-index: 1;
}
#th_header5 {
  display: flex;
}
#basketPoint {
  width: 20px;
  height: 20px;
  border-radius: 45%;
  background-color: rgb(244, 71, 71);
  margin: -52px 14px 8px 68px;
  z-index: 2;
}
@media (min-width: 330px) {
  #galaxyfoldheader {
    display: none;
  }
  #modalWindowforBurger {
    display: none;
  }
}

@media (max-width: 320px) {
  table {
    display: none;
  }

  #galaxyfoldheader {
    display: flex;
    width: 100%;
    height: 12vh;
    background: yellow;
    justify-content: space-around;
    align-items: center;
  }

  #tshop {
    width: 50%;
    height: 12;
    font-size: 1.3em;
  }
  #basket {
    width: 15%;
    font-size: 2em;
  }
  #basketPointSecond {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(244, 71, 71);
    margin: -49px 0 23px 26px;
    z-index: 2;
  }
  #modalWindowforBurger {
    height: 554px;
  }
  #burger {
    width: 15%;
    height: 10vh;
    font-size: 2em;
  }
  .title {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
  }
  .tshop {
    font-size: 4em;
  }
  #nerqevidiv {
    display: none;
    width: 76vw;
    height: auto;
    overflow: hidden;
  }
  #ThereIsOneforEveryone {
    width: 76vw;
    height: 3vh;
    text-align: center;
    justify-content: center;
    background: rgb(192, 225, 91);
    animation-duration: 7s;
    animation-name: animation;
    transition: transform;
    animation: slide-in 2s linear;
  }
  .text {
    display: flex;
    font-size: 1em;
    justify-content: center;
  }

  .ShopNewShopWomenShopMen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }

  #shopwomen {
    width: 100%;
    height: 50vh;
  }

  #shopmen {
    width: 100%;
    height: 50vh;
  }

  #shopnew {
    width: 100%;
    height: 50vh;
  }
  .productclass {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    margin: 1vh 2vw 1vh 2vh;
    justify-content: center;
  }
  #products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  #img1 {
    width: 90%;
    background-size: cover;
  }
  #boxfortitlesndprice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 5vh;
    margin-top: 1vh;
  }
  #btnshopnew {
    background: black;
    font-size: 1.5em;
    color: rgb(189, 233, 69);
    width: 45vw;
    height: 7vh;
  }

  .sale {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  #textaboutsale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
  }
  #sale {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(167, 210, 57, 0.1), rgb(188, 218, 38));
  }
  .girl {
    display: flex;
    width: 100%;
    height: 50%;
    background: url("https://static.wixstatic.com/media/c837a6_2749f733af59407699862291aaef4b44~mv2.jpg/v1/fill/w_512,h_725,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_2749f733af59407699862291aaef4b44~mv2.jpg");
  }
  #off {
    font-size: 2em;
    text-align: center;
  }
  #littleoff {
    font-size: 1.1em;
    text-align: center;
  }
  #getoff {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
  }
  #getoff10 {
    font-size: 1em;
  }
  #slaqdzakh {
    font-size: 3em;
    animation: slideDown 2s linear;
  }

  @keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  #slaqaj {
    font-size: 3em;
    animation: slideUp 2s linear;
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 1.2em;
  }
  #topshop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background: black;
    justify-content: space-around;
    color: white;
  }
  #shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
  }
  .shopourstore {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #ourstore {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    /* justify-content: center; */
    align-items: center;
  }
  #TermsConditions {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    align-items: center;
  }
  #footer2-1-1 {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 12vh;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) and (min-width: 321px) {
  #th_header1,
  #th_header2,
  #th_header3,
  #th_header4,
  #th_header5 {
    font-size: 1.2em;
  }

  #headerTr {
    height: 5vh;
    align-items: center;
  }
  .login {
    width: 100%;
    height: auto;
  }
  #th_header6 {
    height: 2vh;
  }
  .title {
    height: 10vh;
  }
  .ShopNewShopWomenShopMen {
    height: 32.6vh;
  }
  #img1 {
    width: 22vw;
    height: 20vh;
  }
  .productclass {
    height: auto;
  }

  #boxfortitlesndprice {
    height: 3vh;
  }
  .sale {
    height: 46vh;
  }
  #sale {
    height: 46vh;
  }
  #textaboutsale {
    height: 43vh;
  }
  #getoff {
    height: 10vh;
  }
  #topshop,
  #shop,
  #ourstore,
  #TermsConditions {
    height: 15vh;
    justify-content: space-between;
  }

  #footer2-1 {
    height: 6vh;
  }

  #footer2-2 {
    height: 6vh;
  }

  #footer2 {
    height: 6vh;
  }
}
