*{
    margin:0;
    padding: 0;
}
*body{
    display: flex;
    
}
#containeriamaproduct{
    display: flex;
}
#conteinerforoneproduct{
    z-index: 1;
}
table{
    display: flex;
    width:100%;
    height:12vh;
    font-size: 1.2em;
    align-items: center;
}
tbody{
    display: flex;
    width:100%;
    justify-content: center;

}

#headerTr{
    display:flex;
    width:98%;
    justify-content: space-between;
    justify-content: center;


}
tr > th{
    padding:3vh 0 3vh 0;
}
#th_header1 {
    width: 30%;
    background:rgb(82, 110, 16) ;
    color: yellowgreen;
}

#th_header2,
#th_header3,
#th_header4 {
    background: rgba(200, 224, 93, 0.5);
    width: 20%;
}
.aTh:visited{
    color: rgb(122, 201, 37);
}
#th_header2:hover,
#th_header3:hover,
#th_header4:hover {
    background: black;
    color: rgb(49, 60, 32); /* Set the desired text color */
}

#th_header5{
    width:10%;
    background: rgb(49, 60, 32);
    color: rgb(28, 87, 13);
}
#th_header6 {
    width:10%;
    background:rgb(56, 68, 3) ;
    color:rgb(202, 235, 145);
    font-size: 1.8em;
}
#containerforviewcart{
    display:flex;
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;
}
#founderdiv{
    display:flex;
    width:85%;
    height:80vh;
    justify-content: space-between;
   
}
#viewcartleft{
    width:60%;
    height:80vh;
    overflow-y: auto;

}
#viewcartright{
    display: flex;
    flex-direction: column;
    align-self: center;
    width:35%;
    height:80vh;
    margin-left: 10vw;
}
#mycart{
    width:96,5%;
    height:auto;
    justify-content: center;
    font-size:2em;
    border-bottom: 1px solid black;
    padding: 1vw;
}
#myCartProduct{
    display: flex;
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid black;
}
#imgviewcart{
    width: 30%;
    height:auto;
    margin:1.3vw 0 1vw 1vw;
    background-size: cover;
}
#pricemrice{
    display: flex;
    flex-direction: column;
    width:40%;
    height:20vh;
    margin:1.3vw 0 1vw 1vw;
}
#viewcartiamaProduct{
    width: 40%;
    height:auto;
    font-size: 1em;
    padding: 1vw;


}
#viewcartprice{
    width: 40%;
    height:auto;
    font-size: 1em;
    padding: 1vw;

}
#selectNumber{
    width:1.5vw;
    height: auto;
    border: none;
}
#plusminus{
    display:flex;
    width:6vw;
    height:2vw;
    border: 1px solid black;
    justify-content: space-around;
    margin:1.3vw 0 1vw 3vw;
}
.btnplusminus{
    border: none;
    background: none;
}
#secondprice{
    display:flex;
    width: 20%;
    justify-content: space-around;
    margin:1.3vw 1vw 1vw 3vw;
    padding-top:1vh;
}
#viewcartclose{
    height:auto;
    cursor: pointer;
    margin:1.3vw 1vw 1vw 3vw;
}
#subtotalAndPrice{
    display:flex;
    width: 50%;
    height:auto;
}
#lastpriceandfree{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height:25vh;
    
}
#firstline{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
}
#secondline{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;

}
#countryandlocal{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;

}
#ordersummary{
    border-bottom:1px solid black;
    font-size:1.5em;
    padding:1.4vw;
}
#subandprice{
    display:flex;
    width: 70%;
    height: auto;
    border-bottom:1px solid black;
    align-items:  center;



}
#subtotalAndPrice{
    display:flex;
    width: 80%;
    height: 70%;
    align-items: center;
    flex-direction:column;
    justify-content: space-around;
    padding:1vw;
}
#checkout{
    display: flex;
    width: 20vw;
    height:12vh;
    background: rgb(137, 208, 15);
    color:black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.8em;
    border-style:dashed;
    border-radius: 10%;
}
#totalmotal{
    display: flex;
    width: 80%;
    justify-content: space-between;
}



#totalprice{
font-size: 1.5em;
}
#modalwondow {
    width: 45vw;
    height: 55vh;
    background: rgb(252, 253, 250);
    border-radius: 10%;
    border-style: dashed;
    color: rgb(19, 19, 17);
    position: fixed;
    top: 0;
    left: 25vw;
    font-size: 2em;
    display: none;
    z-index: 2;
    text-align: center;
    line-height: 55vh;
    transition: 3s;
  }
  
#transparentviewcart{
    width:100%;
    height:100%;
    background: rgb(1, 0, 0, 0.5);
    display: none;
    position: fixed;
    z-index: 1;
    top:0;
}
.basket{
    width: 2vw;
    height: 5vh;
    cursor: pointer;
    z-index: 1;
}
#transparent {
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    position: fixed;
    top: 0;
    background: rgba(45, 44, 44, 0.4);
    visibility: hidden;
    z-index: 1;
}
#basketPoint{
    width: 20px;
    height: 20px;
    border-radius: 45%;
    background-color: rgb(244, 71, 71);
    margin: -52px 14px 8px 68px;
    z-index: 2;
}
